@import "../../../../../styles/bases/variables.scss";

$primary-color: #333136;
$secondary-color: #ffffff;

.routes-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.item-route__router-link {
  color: $secondary-color;
  font-size: 1.5rem;
  font-weight: map-get($weights, "regular");
  line-height: 1.05;
  letter-spacing: 0.085em;
  text-transform: uppercase;

  &--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2em;
      display: inline-block;
      width: 100%;
      height: 0.1em;
      background-color: $primary-color;
    }
  }
}

@media screen and (width >= $breakpoint-tablet) {
  .routes-list {
    flex-direction: row;
    gap: 2.625em;
    width: 100%;
  }

  .item-route__router-link {
    color: $primary-color;
    font-size: 0.875rem;
  }
}

@media screen and (width >= $breakpoint-tablet) {
  .item-route__router-link {
    position: relative;
    font-size: 1rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.2em;
      display: inline-block;
      width: 100%;
      height: 0.1em;
      background-color: $primary-color;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}
