<section class="section section--app-design">
  <app-project-intro [projectIntro]="projectIntro()" />
  <ul class="section__projects-list">
    @for (projectCard of projectsList(); track projectCard.id) {
      <li class="projects-list__project-card">
        <app-project-card [projectCard]="projectCard" />
      </li>
    }
  </ul>
  <ul class="section__portfolio-list" >
    @for (portfolioCard of portfoliosList(); track portfolioCard.id) {
      <li class="portfolio-list__portfolio-card">
        <app-portfolio-card [portfolioCard]="portfolioCard" />
      </li>
    }
  </ul>
  <app-talk-card [hasBackground]="true" />
</section>
