<section class="section section--contact">
  <div class="section__container-data">
    <div class="container-data__container-text">
      <h2 class="section__title">Contact Us</h2>
      <p class="section__paragraph">
        Ready to take it to the next level? Let’s talk about your project or idea
        and find out how we can help your business grow. If you are looking for
        unique digital experiences that’s relatable to your users, drop us a line.
      </p>
    </div>
    <app-form />
  </div>
</section>
<section class="section section--locations">
  <h2 class="section__title">Locations</h2>
  <app-locations-list />
</section>
