@import "../../../../../styles/bases/variables.scss";

#main-map {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 27.16em;
  height: 100%;
}

@media screen and (width >= $breakpoint-tablet) {
  #main-map {
    border-radius: 1.25em;
  }
}
