@import "../../../../../styles/bases/mixins.scss";
@import "../../../../../styles/bases/variables.scss";

.small-oval {
  position: relative;
  z-index: 5;
}

.small-oval-before--first {
  &::before {
    @include oval();
    top: -6em;
    left: -7em;
    @include linear-gradient-oval(0.2turn);
  }
}

.small-oval-before--second {
  &::before {
    @include oval();
    top: 12.5em;
    left: -6.3125em;
    @include linear-gradient-oval(0.25turn);
  }
}

.small-oval-after--third {
  &::after {
    @include oval();
    top: 12em;
    right: 8em;
    @include linear-gradient-oval(0.37turn);
  }
}

@media screen and (width >= $breakpoint-tablet) {
  .small-oval-before--first {
    &::before {
      top: -7em;
      left: -4em;
    }
  }

  .small-oval-before--second {
    &::before {
      top: 11.2em;
      left: -4.2em;
    }

    &::after {
      @include oval();
      top: 11.2em;
      right: -32.3em;
      @include linear-gradient-oval(0.03turn);
    }
  }

  .small-oval-after--third {
    &::after {
      top: 11em;
      left: -22.7em;
      @include linear-gradient-oval(0.5turn);
    }
  }
}

@media screen and (width >= $breakpoint-desktop) {
  .small-oval-before--first {
    &::before {
      top: -9.2em;
      left: -1em;
      @include linear-gradient-oval(0.16turn);
    }
  }

  .small-oval-before--second {
    &::before {
      top: 9.2em;
      left: -1.2em;
      @include linear-gradient-oval(0.4turn);
    }

    &::after {
      top: 9.2em;
      right: -35.3em;
      @include linear-gradient-oval(1turn);
    }
  }

  .small-oval-after--third {
    &::after {
      top: 10em;
      left: -21.7em;
      @include linear-gradient-oval(0.5turn);
    }
  }
}
