@import "../../../../../styles/bases/variables.scss";
@import "../../../../../styles/bases/mixins.scss";

.section {
  @include flex-col-center();
  gap: 6em;

  app-project-intro {
    @include flex-col-center();
    width: 100%;
  }

  .section__projects-list {
    @include flex-col-center();
    gap: 2.5em;
    width: 90%;
    max-width: $max-width;

    .projects-list__project-card {
      width: 100%;
    }
  }

  .section__portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 90%;
    max-width: $max-width;
  }

  app-talk-card {
    width: 100%;
  }
}

@media screen and (width >= $breakpoint-tablet) {
  .section {
    gap: 7.5em;
  }
}

@media screen and (width >= $breakpoint-desktop) {
  .section {
    gap: 10em;
    .section__projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 21.813em));
      grid-template-rows: 29.875em;
      justify-content: space-between;
      gap: 2em;
    }

    .section__portfolio-list {
      flex-direction: row;
      gap: 1.875em;

      .portfolio-list__portfolio-card {
        width: 33.8125em;
        height: 19.25em;
      }
    }
  }
}
