<header class="header">
  <h1 class="header__title">Designo</h1>
  <div class="header__pos-fixed">
    <div class="pos-fixed__container-nav">
      <nav class="container-nav__nav">
        <h2 class="nav__title">Main Navigation</h2>
        <div class="nav__container-routes">
          <app-web-logo />
          <div class="container-routes__container-list" [class.container-routes__container-list--active]="isOpenNavigationMenu()">
            <app-routes-list />
          </div>
        </div>
        <div class="nav__background" [class.nav__background--active]="isOpenNavigationMenu()"></div>
      </nav>
      <app-menu-button />
    </div>
  </div>
</header>
