@import "../../../../../styles/bases/variables.scss";
@import "../../../../../styles/bases/mixins.scss";

$transition-menu-nav: transform 0.25s ease-in-out;
$top-side-menu: 6.3331em;

.header {
  width: 100%;
  min-height: $top-side-menu;

  .header__title {
    @include sr-only();
  }

  .header__pos-fixed {
    position: fixed;
    z-index: 10;
    @include flex-col-center();
    width: 100%;
    padding: 2.125em 0;
    background-color: #ffffff;
  }
}

.pos-fixed__container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: $max-width;
}

.container-nav__nav {
  display: flex;
  justify-content: center;
  width: 100%;

  .nav__title {
    @include sr-only();
  }

  .nav__container-routes {
    display: flex;
    width: 100%;

    app-web-logo {
      display: inline-flex;
    }
  }

  .nav__background {
    position: fixed;
    top: $top-side-menu;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transform: scale(0);
    transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;

    &--active {
      left: 0;
      background-color: #00000080;
      transform: scale(1);
    }
  }
}

.container-routes__container-list {
  display: flex;
  justify-content: center;
}

@media screen and (width < $breakpoint-tablet) {
  .container-routes__container-list {
    position: fixed;
    top: $top-side-menu;
    right: 0;
    z-index: 10;
    width: 100%;
    padding: 3em 0;
    background-color: #1d1c1e;
    transform: translateX(100%);
    transition: $transition-menu-nav;

    app-routes-list {
      width: 90%;
    }

    &--active {
      transform: translate(0%);
    }
  }
}

@media screen and (width >= $breakpoint-tablet) {
  .header {
    min-height: 9.8125em;
    .header__pos-fixed {
      margin: 1.875em 0;
    }
  }

  .container-nav__nav {
    .nav__background {
      display: none;
    }
  }

  .container-nav__nav {
    .nav__container-routes {
      justify-content: space-between;
      align-items: center;
    }
  }
}
