<article class="portfolio-card scale-up" [routerLink]="portfolioCard.path">
  <h3 class="portfolio-card__title">{{ portfolioCard.title }}</h3>
  <a
    class="portfolio-card__link slide-right-transition"
    [routerLink]="portfolioCard.path"
  >
    <span class="link__name">View Projects</span>
    <i class="fa-solid fa-chevron-right link__icon"></i>
  </a>
  <picture class="portfolio-card__picture">
    <source
      class="picture__source"
      [srcset]="portfolioCard.images.desktop"
      media="(width >= 90em)"
    />
    <source
      class="picture__source"
      [srcset]="portfolioCard.images.tablet"
      media="(width >= 48em)"
    />
    <img
      class="picture__image"
      [src]="portfolioCard.images.mobile"
      [alt]="portfolioCard.images.alt"
      width="327"
      height="250"
      loading="lazy"
    />
  </picture>
</article>
