<section class="talk-card">
  <div class="talk-card__container-data">
    <div class="container-data__container oval small-oval-after--third">
      <h2 class="container__title small-oval-before--first">Let’s talk about your project</h2>
      <p class="container__description small-oval-before--second">
        Ready to take it to the next level? Contact us today and find out how our
        expertise can help your business grow.
      </p>
    </div>
    <a class="container-data__button slide-in-transition txt-white-hov" href="/">Get in touch</a>
  </div>
</section>
