@import "../../../../../styles/bases/variables.scss";
@import "../../../../../styles/bases/mixins.scss";

.container-talk-card {
  @include flex-col-center();
  position: relative;
  width: 100%;

  &--active {
    .background-talk-card {
      position: absolute;
      z-index: -5;
      bottom: -1em;
      width: 100%;
      height: 13em;
      background-color: $bg-footer;
    }
  }
}

.talk-card {
  position: relative;
  @include flex-col-center();
  width: 90%;
  max-width: $max-width;
  border-radius: 0.9375em;
  background-color: $primary-color;
  overflow: hidden;
}

.talk-card__container-data {
  @include flex-col-center();
  gap: 2em;
  padding: 4em 0;
  width: 90%;

  .container-data__container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .container__title {
      $clamp-size: clamp(2rem, -0.909rem + 14.545vw, 2.5rem);
      @include typography($secondary-color, $clamp-size, 1, center);
      font-weight: map-get($weights, "medium");
    }

    .container__description {
      position: relative;
      z-index: 5;
      @include typography($secondary-color, 1rem, 1.63, center);
      font-weight: map-get($weights, "regular");
    }
  }

  .container-data__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10.14em;
    height: 3.75em;
    border-radius: 0.5em;
    background-color: $secondary-color;
    @include typography($third-color, 0.9375rem, 1, center);
    font-weight: map-get($weights, "medium");
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media screen and (width >= $breakpoint-tablet) {
  .talk-card__container-data {
    padding: 3.5625em 0;

    .container-data__container {
      @include flex-col-center();
      .container__title {
        width: 42%;
      }

      .container__description {
        width: 68%;
      }
    }
  }

  .container-talk-card {
    &--active {
      .background-talk-card {
        height: 8em;
      }
    }
  }
}

@media screen and (width >= $breakpoint-desktop) {
  .talk-card__container-data {
    width: 80%;
    padding: 4.5em 0;
    flex-direction: row;
    justify-content: space-between;

    .container-data__container {
      align-items: flex-start;

      .container__title {
        text-align: start;
      }

      .container__description {
        text-align: start;
        width: 57%;
      }
    }
  }

  .container-talk-card {
    &--active {
      .background-talk-card {
        height: 6em;
      }
    }
  }
}
