@font-face {
  font-family: "Jost";
  src: local("Jost") url("../../assets/fonts/Jost/Jost-Medium.ttf")
    url("../../assets/fonts/Jost/Jost-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan") url("../../assets/fonts/Spartan/Spartan-Bold.ttf")
    format("truetype");
  font-display: swap;
}
