$breakpoint-tablet: 48em;
$breakpoint-desktop: 90em;
$weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$font-family: (
  "first": "Jost",
  "second": "Spartan",
);
$max-width: 69.4375em;
$primary-color: #e7816b;
$secondary-color: #ffffff;
$body-color: #ffffff;
$third-color: #333136;
$color-footer: #8f8e8f;
$bg-footer: #1d1c1e;
$color-transition: #ffad9b;
$bg-scale-up: rgb(231, 129, 107, 0.7);
$nav-background: #00000080;
$bg-line-btn: #000000;
$color-router-active-header: #e7826b;
$color-router-active-footer: #a54439;
$bg-project-card: #fdf3f0;
