@import "../../../../../styles/bases/variables.scss";
@import "../../../../../styles/modules/animations.scss";

.router-logo {
  display: inline-flex;
  gap: 1em;

  &--active {
    .router-logo__oval-icon {
      animation: rotation 2s infinite linear;
    }

    .router-logo__paragraph {
      &::before {
        animation: shine 2s infinite linear;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .router-logo__oval-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: conic-gradient(
      from 0deg at 50% 50%,
      $primary-color 0deg,
      rgba(231, 129, 107, 0) 360deg
    );
  }

  .router-logo__paragraph {
    position: relative;
    color: #333136;
    font-family: "Spartan";
    font-size: 1.5rem;
    font-weight: map-get($weights, "bold");
    letter-spacing: 0.1949em;
    text-transform: uppercase;

    &--footer {
      color: #ffffff;
    }

    &::before {
      content: attr(data-logo-name);
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      background: linear-gradient(
        45deg,
        rgba(231, 129, 107, 0) 45%,
        rgba(231, 129, 107, 0.8) 50%,
        rgba(231, 129, 107, 0) 55%,
        rgba(231, 129, 107, 0) 100%
      );
      background-size: 200%;
      background-clip: text;
    }
  }
}
